.big {
    font-size: 40px;
    margin-bottom: 50px;
    font-weight: bold;
}
.list {
    font-size: 30px;
}
.small {
    font-size: 20px;
    margin-bottom: 100px;
}
.smaller {
    font-size: 15px;
}
.container {
    margin-bottom: 200px;
    line-height: 150%;
}
br.big {
    margin-bottom: 200px;
}
a:link {
    color: #ff58e6;
    font-size: 40px;
}
a:visited {
    color: #ff58e6;
}
a:hover {
    color: #fc2bdc;
}
a.profile {
    color:  white;
    font-size: 100%;
}